html {
  scroll-behavior: smooth;
}

nav {
 padding: 1.5rem 2rem;
 background-color: #222831;
 color: #fff;
}

.checkbtn {
 font-size: 1.5rem;
 color: white;
 cursor: pointer;
}

.nav-mobile {
 display: none;
}

#check:checked ~ .nav-mobile {
 display: block;
}

.nav-mobile {
 position: absolute;
 top: 4.5rem;
 left: 0;
 background: #222831;
 z-index: 1;
 width: 200px;
}
.nav-mobile a {
 color: #fff;
 padding: 1rem 1.5rem;
 display: block;
}

footer p {
  size: 12px;
}

textarea {
  height: 200px;
}

@media only screen and (max-width: 992px) {
 .checkbtn {
 display: block;
 font-size: 5rem;
 position: absolute;
 top: 30px;
 left: 40px;
 }
.nav-mobile {
 top: 160px;
 width: 100%;
 }
.nav-mobile a {
 font-size: 2rem;
 padding: 2rem 3rem;
 }
}
